################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/API/API.sln
/API/appsettings.Development.json
/API/appsettings.json
/API/bin/
/API/obj/

